{% extends 'base.html' %}
{% load static %}
{% load customFilters %}

{% block content %}

<div class="container-xxl py-5">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title text-center text-dark ">{{ request.user.username }} <span class="text-primary text-uppercase">| WishList</span></h6>
    </div>
    <br>
    <div class="row g-4">
        {% if allWishList %}
        {% for wish in allWishList %}
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="room-item shadow rounded overflow-hidden">
                <div class="position-relative">
                    <img class="img-fluid imageCrop" src="{{wish.tourExperience.tourImage.url}}" alt="">
                    <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">$ {{wish.tourExperience.tourPrice|floatformat:2}} /Per Person</small>
                </div>
                <div class="p-4 mt-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h5 class="mb-0">{{wish.tourExperience.tourTitle}}</h5>
                        <div class="ps-2">
                        {% if wish.tourExperience.tourRating == 0 %}
                            <p class="text-primary"></p>
                        {%else%}
                            {% for i in wish.tourExperience.tourRating|makeList %}
                            <small class="fa fa-star text-primary"></small>
                            {% endfor %}
                        {%endif%}
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <small class="border-end me-3 pe-3"><i class="fa fa-users text-primary me-2"></i>{{wish.tourExperience.tourMaxNumberOfPeople}}</small>
                        <small class="border-end me-3 pe-3"><i class="fa fa-hourglass-start text-primary me-2"></i>{{wish.tourExperience.tourDuration}}</small>
                        <small><i class="fa fa-eye text-primary me-2"></i>{{wish.tourExperience.tourCategory}}</small>
                    </div>
                    <p class="text-body mb-3"> <b> Tour by: </b> {{wish.tourExperience.tourGuide.username}}</p>
                    <div class="d-flex justify-content-between position-relative">
                        <a href="{% url 'wishListDelete' pk=wish.id %}" class="btn btn-sm btn-danger rounded py-2 px-4" href="">Remove</a>
                        <a href="{% url 'experienceDetails' id=wish.tourExperience.id %}" class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        {% else %}
        <div class="alert alert-info text-center mt-5">
            The experience list is empty.
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

